[submodule "Cursor-Project/EnergoTS"]
	path = Cursor-Project/EnergoTS
	url = https://github.com/lukachrk/EnergoTS.git
[submodule "Cursor-Project/Phoenix/mfe-poc-with-nx"]
	path = Cursor-Project/Phoenix/mfe-poc-with-nx
	url = https://git.domain.internal/phoenix/mfe-poc-with-nx.git
[submodule "Cursor-Project/Phoenix/phoenix-api-gateway"]
	path = Cursor-Project/Phoenix/phoenix-api-gateway
	url = https://git.domain.internal/phoenix/phoenix-api-gateway.git
[submodule "Cursor-Project/Phoenix/phoenix-billing-run"]
	path = Cursor-Project/Phoenix/phoenix-billing-run
	url = https://git.domain.internal/phoenix/phoenix-billing-run.git
[submodule "Cursor-Project/Phoenix/phoenix-core"]
	path = Cursor-Project/Phoenix/phoenix-core
	url = https://git.domain.internal/phoenix/phoenix-core.git
[submodule "Cursor-Project/Phoenix/phoenix-core-lib"]
	path = Cursor-Project/Phoenix/phoenix-core-lib
	url = https://git.domain.internal/phoenix/phoenix-core-lib.git
[submodule "Cursor-Project/Phoenix/phoenix-mass-import"]
	path = Cursor-Project/Phoenix/phoenix-mass-import
	url = https://git.domain.internal/phoenix/phoenix-mass-import.git
[submodule "Cursor-Project/Phoenix/phoenix-migration"]
	path = Cursor-Project/Phoenix/phoenix-migration
	url = https://git.domain.internal/phoenix/phoenix-migration.git
[submodule "Cursor-Project/Phoenix/phoenix-payment-api"]
	path = Cursor-Project/Phoenix/phoenix-payment-api
	url = https://git.domain.internal/phoenix/phoenix-payment-api.git
[submodule "Cursor-Project/Phoenix/phoenix-scheduler"]
	path = Cursor-Project/Phoenix/phoenix-scheduler
	url = https://git.domain.internal/phoenix/phoenix-scheduler.git
[submodule "Cursor-Project/Phoenix/phoenix-ui"]
	path = Cursor-Project/Phoenix/phoenix-ui
	url = https://git.domain.internal/phoenix/phoenix-ui.git
