PORTAL_USER = 'n10610'
PASSWORD = 'Start#2026'
# Base URL for the application (optional - defaults to devUrl from playwright.config.ts)
BASE_URL=http://10.236.20.11:8091
DEVAUTHAPI = "https://devapps.energo-pro.bg/backend/portal/rest/v2/login"
TESTAUTHAPI = "https://testapps.energo-pro.bg/backend/portal/rest/v2/login"

