PORTAL_USER = "g17932"
PASSWORD = "Start#2026"
DEVAUTHAPI = "https://devapps.energo-pro.bg/backend/portal/rest/v2/login" 
TESTAUTHAPI = "https://testapps.energo-pro.bg/backend/portal/rest/v2/login"

GRANT_TYPE = 'client_credentials'
CLIENT_ID = 'sc-6dde29ac-fbec-476f-92fe-57b08b034728'
CLIENT_SECRET = 'qs2ZfNsy88bcwj+WO+vv5GRFFFMweSzCzO0aSb1bFCcGJvoOwW+L2gIYRgsCGelv'