node_modules/
/test-results/
/playwright-report/
/src/backend/playwright-report/
/blob-report/
/playwright/.cache/
*.xlsx
!cbgDocument.xlsx
.env
actions-runner/
actions-runner2/
.DS_Store
playwright-report.json
src/backend/playwright-report.json
token.json
envVariables.json
miscellaneous
stashedResponses
salesPortalToken.json
/src/backend/mass-imports/output